<!DOCTYPE html>
<html>
  <head>
    <title>Vitala</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= yield %>
      <div id="react-root"></div> <!-- React app will mount here -->

  </body>
</html>
